<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form *ngIf="displayOTPForm == false" [formGroup]="forgotPasswordForm" (ngSubmit)="sendForgotPassOTP()">
        <label for="emailAddress">Enter Email Address (required):</label>
        <input type="text" name="emailAddress" id="emailAddress" formControlName="emailAddress"><br><br>

        <button type="submit" class="btn btn-primary">Send OTP</button>
    </form>

    <form *ngIf="displayOTPForm == true" [formGroup]="otpValidationForm" (ngSubmit)="validateForgotPassOTP()">
        <h2>OTP Validation</h2>
        <div class="form-group">
          <label>Enter One-Time-Password (OTP):</label>
          <input formControlName="otp" type="text" name="otp" id="otp">

          <label>New Password (8 to 20 characters):</label>
          <input formControlName="newPassword" type="password" name="newPassword" id="newPassword">
        </div>
        <button type="submit">Verify</button>
    </form>
</div>