<div style="text-align: center;">
    <br>
    <h4>Search Books by Filters</h4>

    <button class="btn btn-primary" (click)="ApplyFilter('all')">All</button>
    <button class="btn btn-primary" (click)="ApplyFilter('bookId')">BookId</button>
    <button class="btn btn-primary" (click)="ApplyFilter('isbn')">ISBN No</button>
    <button class="btn btn-primary" (click)="ApplyFilter('genre')">Genre</button>
    <button class="btn btn-primary" (click)="ApplyFilter('author')">Author</button><br><br>

    <div name="searchBox" *ngIf="displaySearchBox" [ngSwitch]="filterTypeSelected">
        <form [formGroup]="bookExplorerForm" (submit)="onSubmit()">

            <label *ngSwitchCase="'bookId'" for="searchInput" style="margin-right: 5px;">Enter Book ID: </label>
            <input *ngSwitchCase="'bookId'" type="search" name="searchInput" formControlName="searchInput" style="margin-right: 5px;">

            <label *ngSwitchCase="'isbn'" for="searchInput" style="margin-right: 5px;">Enter ISBN Number: </label>
            <input *ngSwitchCase="'isbn'" type="search" name="searchInput" formControlName="searchInput" style="margin-right: 5px;">

            <label *ngSwitchCase="'genre'" for="searchInput" style="margin-right: 5px;">Select Genre: </label>
            <select *ngSwitchCase="'genre'" name="searchInput" formControlName="searchInput">
                <option *ngFor="let genre of genreList" [value]="genre.genreId">{{genre.name}}</option>
            </select>

            <label *ngSwitchCase="'author'" for="searchInput">Select Author: </label>
            <select *ngSwitchCase="'author'" name="searchInput" formControlName="searchInput">
                <option *ngFor="let author of authorList" [value]="author">{{author}}</option>
            </select>

            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
    </div>

    <div class="container" name="bookListToDisplay" id="bookListToDisplay" *ngIf="displayBookList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">AvailableQuantity</th>
                    <th scope="col">Genre ID</th>
                    <th scope="col">Borrow</th>
                    <th scope="col">Reserve</th>
                </tr>
            </thead>
            <tbody>
                @for (book of bookListToDisplay; track $index) {
                <tr>
                    <td>{{book.bookId}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.availableQuantity}}</td>
                    <td>{{book.genreId}}</td>
                    <td><form onsubmit="alert('This facility is not available yet!'); return false;"><input class="btn btn-secondary" type="submit" value="Borrow"></form></td>
                    <td><form onsubmit="alert('This facility is not available yet!'); return false;"><input class="btn btn-secondary" type="submit" value="Reserve"></form></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>