<div style="text-align: center;">
    <br>
    <h4>Search Books by Filters</h4>

    <button class="btn btn-primary" (click)="ApplyFilter('all')">All</button>
    <button class="btn btn-primary" (click)="ApplyFilter('bookId')">BookId</button>
    <button class="btn btn-primary" (click)="ApplyFilter('isbn')">ISBN No</button>
    <button class="btn btn-primary" (click)="ApplyFilter('genre')">Genre</button>
    <button class="btn btn-primary" (click)="ApplyFilter('author')">Author</button><br><br>

    <div name="searchBox" *ngIf="displaySearchBox" [ngSwitch]="filterTypeSelected">
        <form [formGroup]="bookExplorerForm" (submit)="onSubmit()">

            <label *ngSwitchCase="'bookId'" for="searchInput" style="margin-right: 5px;">Enter Book ID: </label>
            <input *ngSwitchCase="'bookId'" type="search" name="searchInput" formControlName="searchInput"
                style="margin-right: 5px;">

            <label *ngSwitchCase="'isbn'" for="searchInput" style="margin-right: 5px;">Enter ISBN Number: </label>
            <input *ngSwitchCase="'isbn'" type="search" name="searchInput" formControlName="searchInput"
                style="margin-right: 5px;">

            <label *ngSwitchCase="'genre'" for="searchInput" style="margin-right: 5px;">Select Genre: </label>
            <select *ngSwitchCase="'genre'" name="searchInput" formControlName="searchInput">
                <option *ngFor="let genre of genreList" [value]="genre.genreId">{{genre.name}}</option>
            </select>

            <label *ngSwitchCase="'author'" for="searchInput">Select Author: </label>
            <select *ngSwitchCase="'author'" name="searchInput" formControlName="searchInput">
                <option *ngFor="let author of authorList" [value]="author">{{author}}</option>
            </select>

            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
    </div><br><br><br>

    <!-- <form [formGroup]="borrowBookForm" (submit)="borrowBook()">
        <input type="text" formControlName="bookId" id="bookId" name="bookId" placeholder="Enter Book ID here">
        <button class="btn btn-secondary" type="submit">Borrow</button>
    </form><br><br> -->
    <div style="flex: 1; padding: 20px; overflow-y: auto;">
        <div *ngIf="displayBookList" class="card-container">
            <div class="card" *ngFor="let book of bookListToDisplay; let i = index">
                <div class="card-body">
                    <h5 class="card-title">Sr.No: {{book.bookId}}</h5>
                    <p class="card-text"><strong>ISBN No.:</strong> {{book.isbn}}</p>
                    <p class="card-text"><strong>Title:</strong> {{book.title}}</p>
                    <p class="card-text"><strong>Author Name:</strong> {{book.author}}</p>
                    <p class="card-text"><strong>Available Quantity:</strong> {{book.availableQuantity}}</p>
                    <p class="card-text"><strong>Genre ID:</strong> {{book.genreId}}</p>
                    <p class="card-text">
                        <strong style="margin-right: 10px;">Borrow:</strong>
                        <button 
                            *ngIf="book.availableQuantity > 0" 
                            (click)="borrowBook(book.bookId)" 
                            class="btn btn-secondary" 
                            style="background-color: orange; border-color: orange; font-size: 0.8rem; margin-left: 10px; padding: 5px 10px;">
                            Borrow
                        </button>
                    </p>
                    <p class="card-text">
                        <strong style="margin-right: 10px;">Return:</strong>
                        <button 
                            *ngIf="book.availableQuantity > 0" 
                            (click)="reserveBook(book.bookId)" 
                            class="btn btn-secondary" 
                            style="background-color: orange; border-color: orange; font-size: 0.8rem; margin-left: 10px; padding: 5px 10px;">
                            Return
                        </button>
                    </p>
                   
                </div>
            </div>
        </div>
   
</div>
