<div style="display: flex; height: 100vh;">
    <!-- Sidebar -->
    <div style="width: 250px; background-color: #f4f4f4; padding: 15px; border-right: 1px solid #ddd;">
        <ul style="list-style: none; padding: 0;">
            <li *ngFor="let filter of filters">
                <button (click)="ApplyFilter(filter.value)" [ngStyle]="{
                        background: filterTypeSelected === filter.value ? 'antiquewhite' : 'none'
                    }"
                    style="background: none; border: none; color: orange; font-weight: bold; text-align: left; padding: 5px; width: 100%; cursor: pointer; border-bottom: 1px solid #ddd;">
                    {{ filter.label }}
                </button>
            </li>
        </ul>
    </div>

    <div
        style="display: flex; justify-content: center; flex-direction: column; width: 100%; background-color: antiquewhite;">
        <div>
            <h4>Welcome Admin {{adminEmail}}</h4>
        </div>


        <!-- Main Content -->


        <!-- Book List -->


        <div style="flex: 1; padding: 20px; overflow-y: auto;">
            <div *ngIf="displayBookList" class="card-container">
                <div class="card" *ngFor="let book of bookListToDisplay; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">Book ID: {{book.bookId}}</h5>
                        <p class="card-text"><strong>ISBN No.:</strong> {{book.isbn}}</p>
                        <p class="card-text"><strong>Title:</strong> {{book.title}}</p>
                        <p class="card-text"><strong>Author Name:</strong> {{book.author}}</p>
                        <p class="card-text"><strong>Available Quantity:</strong> {{book.availableQuantity}}</p>
                        <p class="card-text"><strong>Genre ID:</strong> {{book.genreId}}</p>
                    </div>
                </div>
            </div>


            <!-- Genre List -->
            <!-- <div style="flex: 1; padding: 20px; overflow-y: scroll;"> -->
            <div *ngIf="displayGenreList" class="card-container">
                <div class="card" *ngFor="let genre of genreList; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">Genre ID: {{genre.genreId}}</h5>
                        <p class="card-text"><strong>Name:</strong> {{ genre.name}}</p>
                        <p class="card-text"><strong>Description:</strong> {{genre.description}}</p>
                    </div>
                </div>
            </div>


            <!-- Borrowed List -->
            <!-- <div style="flex: 1; padding: 20px; overflow-y: scroll;"> -->
            <div *ngIf="displayBorrowedList" class="card-container">
                <div class="card" *ngFor="let borrowed of borrowedList; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">Borrow ID: {{borrowed.borrowId}}</h5>
                        <p class="card-text"><strong>Book ID:</strong> {{borrowed.bookId}}</p>
                        <p class="card-text"><strong>User ID:</strong> {{borrowed.userId}}</p>
                        <p class="card-text"><strong>Borrow Date:</strong> {{borrowed.borrowDate}}</p>
                        <p class="card-text"><strong>Return Deadline:</strong> {{borrowed.returnDeadline}}</p>
                        <p class="card-text"><strong>Return Date:</strong> {{borrowed.returnDate}}</p>
                        <p class="card-text"><strong>Status:</strong> {{borrowed.status}}</p>

                    </div>
                </div>
            </div>

            <!-- Fines Table -->
            <div *ngIf="displayFineList" class="card-container">
                <div class="card" *ngFor="let fines of fineList; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">Fine ID: {{fines.fineId}}</h5>
                        <p class="card-text"><strong>Borrow ID:</strong> {{fines.borrowId}}</p>
                        <p class="card-text"><strong>Fine Type:</strong> {{Fine_Type[fines.fineType]}}</p>
                        <p class="card-text"><strong>Fine Amount:</strong> {{fines.fineAmount}}</p>
                        <p class="card-text"><strong>Fine Paid Status:</strong>
                            {{Fine_Paid_Status[fines.finePaidStatus]}}</p>
                        <p class="card-text"><strong>Paid Date:</strong> {{fines.paidDate}}</p>
                    </div>
                </div>
            </div>

            <!-- Users Table -->
            <div *ngIf="displayUserList" class="card-container">
                <div class="card" *ngFor="let users of userList; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">User ID: {{users.userId}}</h5>
                        <p class="card-text"><strong>Name:</strong> {{users.name}}</p>
                        <p class="card-text"><strong>Email:</strong> {{users.email}}</p>
                        <p class="card-text"><strong>Phone:</strong> {{users.phone}}</p>
                        <p class="card-text"><strong>Address:</strong>
                            {{users.address}}</p>
                        <p class="card-text"><strong>Role:</strong> {{User_Role[users.role]}}</p>
                        <p class="card-text"><strong>Account Created Date:</strong>
                            {{users.accountCreatedDate}}</p>
                    </div>
                </div>
            </div>

            <!-- Log Activity Table -->
            <div *ngIf="displayLogList" class="card-container">
                <div class="card" *ngFor="let logs of logList; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">Log ID: {{logs.logId}}</h5>
                        <p class="card-text"><strong>User ID:</strong> {{logs.userId}}</p>
                        <p class="card-text"><strong>Action Type:</strong>
                            {{Action_Type[logs.actionType]}}</p>
                        <p class="card-text"><strong>Timestamp:</strong> {{logs.timestamp}}</p>
                    </div>
                </div>
            </div>

            <!-- Notifications Table -->
            <div *ngIf="displayNotificationList" class="card-container">
                <div class="card" *ngFor="let noti of notificationList ; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">Notification ID: {{noti.notificationId}}</h5>
                        <p class="card-text"><strong>User ID:</strong> {{noti.userId}}</p>
                        <p class="card-text"><strong>Message Type:</strong>
                            {{Notification_Type[noti.messageType]}}</p>
                        <p class="card-text"><strong>Message Description:</strong>
                            {{noti.messageDescription}}</p>
                        <p class="card-text"><strong>Sent Date:</strong> {{noti.sentDate}}</p>
                    </div>
                </div>
            </div>


            <!-- Reservations Table -->
            <div *ngIf="displayReservationList" class="card-container">
                <div class="card" *ngFor="let reserv of reservationList ; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">Reservation ID: {{reserv.reservationId}}</h5>
                        <p class="card-text"><strong>Book ID:</strong> {{reserv.bookId}}</p>
                        <p class="card-text"><strong>User ID:</strong> {{reserv.userId}}</p>
                        <p class="card-text"><strong>Application TimeStamp:</strong>
                            {{reserv.applicationTimestamp}}</p>
                        <p class="card-text"><strong>Expected Availability Date:</strong>
                            {{reserv.expectedAvailabilityDate}}</p>
                        <p class="card-text"><strong>Reservation Expiry Date:</strong>
                            {{reserv.reservationExpiryDate}}</p>
                        <p class="card-text"><strong>Reservation Status:</strong>
                            {{Reservation_Status[reserv.reservationStatus]}}</p>
                    </div>
                </div>
            </div>

            <!-- Consumer Queries Table -->
            <div *ngIf="displayContactUsQueries" class="card-container">
                <div class="card" *ngFor="let query of consumerQueriesList ; let i = index">
                    <div class="card-body">
                        <h5 class="card-title">Query ID: {{query.queryId}}</h5>
                        <p class="card-text"><strong>Email:</strong> {{query.email}}</p>
                        <p class="card-text"><strong>Query Type:</strong>
                            {{Contact_Us_Query_Type[query.query_Type]}}</p>
                        <p class="card-text"><strong>Description:</strong>
                            {{query.description}}</p>
                        <p class="card-text"><strong>Created Date:</strong>
                            {{query.queryCreatedDate}}</p>
                        <p class="card-text"><strong>Status:</strong>
                            {{Contact_Us_Query_Status[query.query_Status]}}
                        <p class="card-text">
                            <strong>Acknowledge:</strong>
                            <button *ngIf="query.query_Status !== 1" (click)="acknowledgeConsumerQuery(query.queryId)"
                                style="background-color: orange; font-weight: bold; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
                                Acknowledge
                            </button>
                        </p>
                    </div>
                </div>
            </div>


            <!-- Forms -->
            <!-- Add Book Form -->
            <div *ngIf="displayAddBookForm == true" class="AddBook-form">
                <h5 style="color: orange;">Add Book Form</h5>
                <form [formGroup]="addbookForm" (submit)="onBookAdd()">
                    <div>
                        <label for="isbn">Isbn (required):</label>
                        <input type="text" formControlName="isbn" />
                    </div>
                    <div>
                        <label for="title">Title (required):</label>
                        <input type="text" formControlName="title" />
                    </div>
                    <div>
                        <label for="author">Author (text characters only):</label>
                        <input type="text" formControlName="author" />
                    </div>
                    <div>
                        <label for="publication">Publication (text characters only):</label>
                        <input type="text" formControlName="publication" />
                    </div>
                    <div>
                        <label for="publishedDate">PublishedDate:</label>
                        <input type="date" formControlName="publishedDate" />
                    </div>
                    <div>
                        <label for="edition">Edition:</label>
                        <input type="text" formControlName="edition" />
                    </div>
                    <div>
                        <label for="language">Language (text characters only):</label>
                        <input type="text" formControlName="language" />
                    </div>
                    <div>
                        <label for="description">Description:</label>
                        <input type="text" formControlName="description" />
                    </div>
                    <div>
                        <label for="cost">Cost (required):</label>
                        <input type="number" formControlName="cost" step="0.01" />
                    </div>
                    <div>
                        <label for="availableQuantity">AvailableQuantity (required):</label>
                        <input type="text" formControlName="availableQuantity" />
                    </div>
                    <div>
                        <label for="totalQuantity">TotalQuantity (required):</label>
                        <input type="text" formControlName="totalQuantity" />
                    </div>
                    <div>
                        <label for="genreId" style="margin-right: 5px;">Select Genre
                            (required):</label>
                        <select formControlName="genreId">
                            <option *ngFor="let genre of genreList" [value]="genre.genreId">
                                {{genre.name}}
                            </option>
                        </select>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <!-- Update Book Form -->
            <div *ngIf="displayUpdateBookForm == true" class="updatebook-form">
                <h5 style="color: orange;">Update Book Form</h5>
                <form #updatebookForm="ngForm" (ngSubmit)="onBookUpdate(updatebookForm)">
                    <div>
                        <label for="bookid">Choose Book:</label>
                        <!-- <input type="text" id="bookid" name="bookid" [(ngModel)]="updatebook.BookId" required /> -->
                        <select name="bookid" id="bookid" [(ngModel)]="updatebook.BookId" required>
                            @for (book of bookListToDisplay; track $index) {
                            <option value="{{book.bookId}}">{{book.title}}</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label for="availablequantitty">AvailableQuantity:</label>
                        <input type="text" id="availablequantitty" name="availablequantitty"
                            [(ngModel)]="updatebook.AvailableQuantity" required />
                    </div>
                    <div>
                        <label for="totalquantity">TotalQuantity:</label>
                        <input type="text" id="totalquantity" name="totalquantity"
                            [(ngModel)]="updatebook.TotalQuantity" required />
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <!-- Remove Book Form -->
            <div *ngIf="displayRemovekForm == true" class="removebook-form">
                <h5 style="color: orange;">Remove Book Form</h5>
                <form #removebookForm="ngForm" (ngSubmit)="onBookRemove(removebookForm)">
                    <div>
                        <label for="bookid">Choose Book:</label>
                        <!-- <input type="text" id="bookid" name="bookid" [(ngModel)]="removebook.bookid" required /> -->
                        <select name="bookid" id="bookid" [(ngModel)]="removebook.bookid" required>
                            @for (book of bookListToDisplay; track $index) {
                            <option value="{{book.bookId}}">{{book.title}}</option>
                            }
                        </select>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <!-- Add more content as needed -->
        </div>
    </div>
</div>