<div style="text-align: center;">
    <br>
    <h4>Welcome Admin {{adminEmail}}</h4><br>

    <button class="btn btn-primary" (click)="ApplyFilter('all')">Books</button>
    <button class="btn btn-primary" (click)="ApplyFilter('genre')">Genre</button>
    <button class="btn btn-primary" (click)="ApplyFilter('borrowed')">Borrowed</button>
    <button class="btn btn-primary" (click)="ApplyFilter('fines')">Fines</button>
    <button class="btn btn-primary" (click)="ApplyFilter('users')">Users</button>
    <button class="btn btn-primary" (click)="ApplyFilter('logs')">User's Logs Activity</button>
    <button class="btn btn-primary" (click)="ApplyFilter('notifications')">Notifications</button>
    <button class="btn btn-primary" (click)="ApplyFilter('reservations')">Reservations</button>
    <button class="btn btn-primary" (click)="ApplyFilter('consumerQueries')">Consumer Queries</button>
    <button class="btn btn-primary" (click)="ApplyFilter('addBook')">Add New Book</button>
    <button class="btn btn-primary" (click)="ApplyFilter('updateBook')">Update Existing Books</button>
    <button class="btn btn-primary" (click)="ApplyFilter('removeBook')">Remove Existing Books</button>
    <br><br>

    <!-- Genre Table -->
    <div class="container" name="genreListToDisplay" id="genreListToDisplay" *ngIf="displayGenreList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Genre ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @for (genre of genreList; track $index) {
                <tr>
                    <td>{{genre.genreId}}</td>
                    <td>{{genre.name}}</td>
                    <td>{{genre.description}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Borrowed Table -->
    <div class="container" name="borrowedListToDisplay" id="borrowedListToDisplay" *ngIf="displayBorrowedList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Borrow ID</th>
                    <th scope="col">Book ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Borrow Date</th>
                    <th scope="col">Return Deadline</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Borrow Status</th>
                </tr>
            </thead>
            <tbody>
                @for (borrowed of borrowedList; track $index) {
                <tr>
                    <td>{{borrowed.borrowId}}</td>
                    <td>{{borrowed.bookId}}</td>
                    <td>{{borrowed.userId}}</td>
                    <td>{{borrowed.borrowDate}}</td>
                    <td>{{borrowed.returnDeadline}}</td>
                    <td>{{borrowed.returnDate}}</td>
                    <td>{{Borrow_Status[borrowed.borrowStatus]}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Fines table -->
    <div class="container" name="finesListToDisplay" id="finesListToDisplay" *ngIf="displayFineList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fine ID</th>
                    <th scope="col">Borrow ID</th>
                    <th scope="col">Fine Type</th>
                    <th scope="col">Fine Amount</th>
                    <th scope="col">Fine Paid Status</th>
                    <th scope="col">Paid Date</th>

                </tr>
            </thead>
            <tbody>
                @for (fines of fineList; track $index) {
                <tr>
                    <td>{{fines.fineId}}</td>
                    <td>{{fines.borrowId}}</td>
                    <td>{{Fine_Type[fines.fineType]}}</td>
                    <td>{{fines.fineAmount}}</td>
                    <td>{{Fine_Paid_Status[fines.finePaidStatus]}}</td>
                    <td>{{fines.paidDate}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Users Table -->
    <div class="container" name="usersListToDisplay" id="usersListToDisplay" *ngIf="displayUserList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Role</th>
                    <th scope="col">Account Created Date</th>

                </tr>
            </thead>
            <tbody>
                @for (users of userList; track $index) {
                <tr>
                    <td>{{users.userId}}</td>
                    <td>{{users.name}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.phone}}</td>
                    <td>{{users.address}}</td>
                    <td>{{User_Role[users.role]}}</td>
                    <td>{{users.accountCreatedDate}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Log Activity Table -->
    <div class="container" name="logListToDisplay" id="logListToDisplay" *ngIf="displayLogList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Log ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Action Type</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
            <tbody>
                @for (logs of logList; track $index) {
                <tr>
                    <td>{{logs.logId}}</td>
                    <td>{{logs.userId}}</td>
                    <td>{{Action_Type[logs.actionType]}}</td>
                    <td>{{logs.timestamp}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Notifications Table -->
    <div class="container" name="notificationsListToDisplay" id="notificationsListToDisplay"
        *ngIf="displayNotificationList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Notification ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Message Type</th>
                    <th scope="col">Message Description</th>
                    <th scope="col">Sent Date</th>
                </tr>
            </thead>
            <tbody>
                @for (noti of notificationList; track $index) {
                <tr>
                    <td>{{noti.userId}}</td>
                    <td>{{noti.userId}}</td>
                    <td>{{Notification_Type[noti.messageType]}}</td>
                    <td>{{noti.messageDescription}}</td>
                    <td>{{noti.sentDate}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Reservations Table -->
    <div class="container" name="reservationsListToDisplay" id="reservationsListToDisplay"
        *ngIf="displayReservationList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Reservation ID</th>
                    <th scope="col">Book ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Application TimeStamp</th>
                    <th scope="col">Expected Availability Date</th>
                    <th scope="col">Reservation Expiry Date</th>
                    <th scope="col">Reservation Status</th>
                </tr>
            </thead>
            <tbody>
                @for (reserv of reservationList; track $index) {
                <tr>
                    <td>{{reserv.reservationId}}</td>
                    <td>{{reserv.bookId}}</td>
                    <td>{{reserv.userId}}</td>
                    <td>{{reserv.applicationTimestamp}}</td>
                    <td>{{reserv.expectedAvailabilityDate}}</td>
                    <td>{{reserv.reservationExpiryDate}}</td>
                    <td>{{Reservation_Status[reserv.reservationStatus]}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Books Table -->
    <div class="container" name="bookListToDisplay" id="bookListToDisplay" *ngIf="displayBookList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Book ID</th>
                    <th scope="col">ISBN No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Available Quantity</th>
                    <th scope="col">Genre ID</th>
                </tr>
            </thead>
            <tbody>
                @for (book of bookListToDisplay; track $index) {
                <tr>
                    <td>{{book.bookId}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.availableQuantity}}</td>
                    <td>{{book.genreId}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Consumer Queries Table -->
    <div class="container" name="consumerQueriesList" id="consumerQueriesList" *ngIf="displayContactUsQueries">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Query ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Query Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Acknowledge</th>
                </tr>
            </thead>
            <tbody>
                @for (query of consumerQueriesList; track $index) {
                <tr>
                    <td>{{query.queryId}}</td>
                    <td>{{query.email}}</td>
                    <td>{{Contact_Us_Query_Type[query.query_Type]}}</td>
                    <td>{{query.description}}</td>
                    <td>{{query.queryCreatedDate}}</td>
                    <td>{{Contact_Us_Query_Status[query.query_Status]}}</td>
                    <td>
                        <button *ngIf="query.query_Status != 1" (click)="acknowledgeConsumerQuery(query.queryId)"
                            class="btn btn-secondary">Acknowledge</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Add Book Form -->
    <div *ngIf="displayAddBookForm == true" class="AddBook-form">
        <form [formGroup]="addbookForm" (submit)="onBookAdd()">
            <div>
                <label for="isbn">Isbn (required):</label>
                <input type="text" formControlName="isbn" />
            </div>
            <div>
                <label for="title">Title (required):</label>
                <input type="text" formControlName="title" />
            </div>
            <div>
                <label for="author">Author (text characters only):</label>
                <input type="text" formControlName="author" />
            </div>
            <div>
                <label for="publication">Publication (text characters only):</label>
                <input type="text" formControlName="publication" />
            </div>
            <div>
                <label for="publishedDate">PublishedDate:</label>
                <input type="date" formControlName="publishedDate" />
            </div>
            <div>
                <label for="edition">Edition:</label>
                <input type="text" formControlName="edition" />
            </div>
            <div>
                <label for="language">Language (text characters only):</label>
                <input type="text" formControlName="language" />
            </div>
            <div>
                <label for="description">Description:</label>
                <input type="text" formControlName="description" />
            </div>
            <div>
                <label for="cost">Cost (required):</label>
                <input type="number" formControlName="cost" step="0.01" />
            </div>
            <div>
                <label for="availableQuantity">AvailableQuantity (required):</label>
                <input type="text" formControlName="availableQuantity" />
            </div>
            <div>
                <label for="totalQuantity">TotalQuantity (required):</label>
                <input type="text" formControlName="totalQuantity" />
            </div>
            <div>
                <label for="genreId" style="margin-right: 5px;">Select Genre (required):</label>
                <select formControlName="genreId">
                    <option *ngFor="let genre of genreList" [value]="genre.genreId">{{genre.name}}</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- Update Book Form -->
    <div *ngIf="displayUpdateBookForm == true" class="updatebook-form">
        <form #updatebookForm="ngForm" (ngSubmit)="onBookUpdate(updatebookForm)">
            <div>
                <label for="bookid">Choose Book:</label>
                <!-- <input type="text" id="bookid" name="bookid" [(ngModel)]="updatebook.BookId" required /> -->
                <select name="bookid" id="bookid"  [(ngModel)]="updatebook.BookId" required>
                    @for (book of bookListToDisplay; track $index) {
                        <option value="{{book.bookId}}">{{book.title}}</option>
                    }
                </select>
            </div>
            <div>
                <label for="availablequantitty">AvailableQuantity:</label>
                <input type="text" id="availablequantitty" name="availablequantitty"
                    [(ngModel)]="updatebook.AvailableQuantity" required />
            </div>
            <div>
                <label for="totalquantity">TotalQuantity:</label>
                <input type="text" id="totalquantity" name="totalquantity" [(ngModel)]="updatebook.TotalQuantity"
                    required />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- Remove Book Form -->
    <div *ngIf="displayRemovekForm == true" class="removebook-form">
        <form #removebookForm="ngForm" (ngSubmit)="onBookRemove(removebookForm)">
            <div>
                <label for="bookid">Choose Book:</label>
                <!-- <input type="text" id="bookid" name="bookid" [(ngModel)]="removebook.bookid" required /> -->
                <select name="bookid" id="bookid"  [(ngModel)]="removebook.bookid" required>
                    @for (book of bookListToDisplay; track $index) {
                        <option value="{{book.bookId}}">{{book.title}}</option>
                    }
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>