<div style="text-align: center;">
    <br>
    <h4>Welcome</h4>

    <button class="btn btn-primary" (click)="ApplyFilter('genre')">Genre</button>
    <button class="btn btn-primary" (click)="ApplyFilter('borrowed')">Borrowed</button>
    <button class="btn btn-primary" (click)="ApplyFilter('fines')">Fines</button>
    <button class="btn btn-primary" (click)="ApplyFilter('users')">Users</button>
    <button class="btn btn-primary" (click)="ApplyFilter('logs')">UsersLogsActivity</button>
    <button class="btn btn-primary" (click)="ApplyFilter('notifications')">Notifications</button>
    <button class="btn btn-primary" (click)="ApplyFilter('reservations')">Reservations</button>
    <button class="btn btn-primary" (click)="ApplyFilter('all')">Books</button>
    <button class="btn btn-primary" (click)="ApplyFilter('addBook')">AddBooks</button>
    <button class="btn btn-primary" (click)="ApplyFilter('updateBook')">UpdateBook</button>
    <button class="btn btn-primary" (click)="ApplyFilter('removeBook')">RemoveBook</button>
    <br><br>

    <div name="searchBox" *ngIf="displaySearchBox" [ngSwitch]="filterTypeSelected" style="border: 1px red solid;">
        <!-- <form [formGroup]="bookExplorerForm" (submit)="onSubmit()">

            <label *ngSwitchCase="'bookId'" for="searchInput" style="margin-right: 5px;">Enter Book ID: </label>
            <input *ngSwitchCase="'bookId'" type="search" name="searchInput" formControlName="searchInput"
                style="margin-right: 5px;">

            <label *ngSwitchCase="'isbn'" for="searchInput" style="margin-right: 5px;">Enter ISBN Number: </label>
            <input *ngSwitchCase="'isbn'" type="search" name="searchInput" formControlName="searchInput"
                style="margin-right: 5px;">

            <label *ngSwitchCase="'genre'" for="searchInput" style="margin-right: 5px;">Get All Genre: </label>
            <select *ngSwitchCase="'genre'" name="searchInput" formControlName="searchInput">
                <option *ngFor="let genre of genreList" [value]="genre.genreId">{{genre.name}}</option>
            </select>


            <button class="btn btn-secondary" type="submit">Search</button>
        </form> -->
    </div>



    <div class="container" name="genreListToDisplay" id="genreListToDisplay" *ngIf="displayGenreList"
        style="border: 1px green solid ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (genre of genreList; track $index) {
                <tr>
                    <td>{{genre.genreId}}</td>
                    <td>{{genre.name}}</td>
                    <td>{{genre.description}}</td>
                    <td>
                        <form onsubmit="alert('This facility is not available yet!'); return false;"><input
                                class="btn btn-secondary" type="submit" value="Delete"></form>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container" name="borrowedListToDisplay" id="borrowedListToDisplay" *ngIf="displayBorrowedList"
        style="border: 1px green solid ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">BookId</th>
                    <th scope="col">UserId</th>
                    <th scope="col">BorrowDate</th>
                    <th scope="col">ReturnDeadline</th>
                    <th scope="col">ReturnDate</th>
                    <th scope="col">BorrowStatus</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (borrowed of borrowedList; track $index) {
                <tr>
                    <td>{{borrowed.borrowId}}</td>
                    <td>{{borrowed.bookId}}</td>
                    <td>{{borrowed.userId}}</td>
                    <td>{{borrowed.borrowDate}}</td>
                    <td>{{borrowed.returnDeadline}}</td>
                    <td>{{borrowed.returnDate}}</td>
                    <td>{{borrowed.borrowStatus}}</td>
                    <td>
                        <form onsubmit="alert('This facility is not available yet!'); return false;"><input
                                class="btn btn-secondary" type="submit" value="Delete"></form>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>


    <!-- //Fines table -->
    <div class="container" name="finesListToDisplay" id="finesListToDisplay" *ngIf="displayFineList"
        style="border: 1px green solid ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">BorrowId</th>
                    <th scope="col">FineType</th>
                    <th scope="col">FineAmount</th>
                    <th scope="col">FinePaidStatus</th>
                    <th scope="col">PaidDate</th>

                </tr>
            </thead>
            <tbody>
                @for (fines of fineList; track $index) {
                <tr>
                    <td>{{fines.fineId}}</td>
                    <td>{{fines.borrowId}}</td>
                    <td>{{fines.fineType}}</td>
                    <td>{{fines.fineAmount}}</td>
                    <td>{{fines.finePaidStatus}}</td>
                    <td>{{fines.paidDate}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- //UsersTable -->

    <div class="container" name="usersListToDisplay" id="usersListToDisplay" *ngIf="displayUserList"
        style="border: 1px green solid ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Role</th>
                    <th scope="col">AccountCreatedDate</th>

                </tr>
            </thead>
            <tbody>
                @for (users of userList; track $index) {
                <tr>
                    <td>{{users.userId}}</td>
                    <td>{{users.name}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.phone}}</td>
                    <td>{{users.address}}</td>
                    <td>{{users.role}}</td>
                    <td>{{users.accountCreatedDate}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>


    <!-- //LogActivityTable -->

    <div class="container" name="logListToDisplay" id="logListToDisplay" *ngIf="displayLogList"
        style="border: 1px green solid ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">UserId</th>
                    <th scope="col">ActionType</th>
                    <th scope="col">TimeStamp</th>


                </tr>
            </thead>
            <tbody>
                @for (logs of logList; track $index) {
                <tr>
                    <td>{{logs.logId}}</td>
                    <td>{{logs.userId}}</td>
                    <td>{{logs.actionType}}</td>
                    <td>{{logs.timestamp}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>


    <!-- //NotificationsTable -->

    <div class="container" name="notificationsListToDisplay" id="notificationsListToDisplay"
        *ngIf="displayNotificationList" style="border: 1px green solid ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">UserId</th>
                    <th scope="col">MessageType</th>
                    <th scope="col">MessageDescription</th>
                    <th scope="col">SentDate</th>


                </tr>
            </thead>
            <tbody>
                @for (noti of notificationList; track $index) {
                <tr>
                    <td>{{noti.userId}}</td>
                    <td>{{noti.userId}}</td>
                    <td>{{noti.messageType}}</td>
                    <td>{{noti.messageDescription}}</td>
                    <td>{{noti.sentDate}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>



    <!-- //ReservationsTable -->

    <div class="container" name="reservationsListToDisplay" id="reservationsListToDisplay"
        *ngIf="displayReservationList" style="border: 1px green solid ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">BookId</th>
                    <th scope="col">UserId</th>
                    <th scope="col">ApplicationTimeStamp</th>
                    <th scope="col">ExpectedAvailabilityDate</th>
                    <th scope="col">ReservationExpiryDate</th>
                    <th scope="col">ReservationStatus</th>


                </tr>
            </thead>
            <tbody>
                @for (reserv of reservationList; track $index) {
                <tr>
                    <td>{{reserv.reservationId}}</td>
                    <td>{{reserv.bookId}}</td>
                    <td>{{reserv.userId}}</td>
                    <td>{{reserv.applicationTimestamp}}</td>
                    <td>{{reserv.expectedAvailabilityDate}}</td>
                    <td>{{reserv.reservationExpiryDate}}</td>
                    <td>{{reserv.reservationStatus}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- //BooksList -->
    <div class="container" name="bookListToDisplay" id="bookListToDisplay" *ngIf="displayBookList">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">AvailableQuantity</th>
                    <th scope="col">Genre ID</th>

                </tr>
            </thead>
            <tbody>
                @for (book of bookListToDisplay; track $index) {
                <tr>
                    <td>{{book.bookId}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.availableQuantity}}</td>
                    <td>{{book.genreId}}</td>

                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- ***************************************//AddBook  CotrrectCode******************************************************-->

    <div *ngIf="displayAddBookForm == true" class="AddBook-form">
        <form #addbookForm="ngForm" (ngSubmit)="onBookAdd(addbookForm)">
            <div>
                <label for="isbn">Isbn:</label>
                <input type="text" id="isbn" name="isbn" [(ngModel)]="book.Isbn" required />
            </div>
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" [(ngModel)]="book.Title" required />
            </div>
            <div>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" [(ngModel)]="book.Author" required />
            </div>
            <div>
                <label for="publication">Publication:</label>
                <input type="text" id="publication" name="publication" [(ngModel)]="book.Publication" required />
            </div>
            <div>
                <label for="publisheddate">PublishedDate:</label>
                <input type="text" id="publisheddate" name="publisheddate" [(ngModel)]="book.PublishedDate" required />
            </div>
            <div>
                <label for="edition">Edition:</label>
                <input type="text" id="edition" name="edition" [(ngModel)]="book.Edition" required />
            </div>
            <div>
                <label for="language">Language:</label>
                <input type="text" id="language" name="language" [(ngModel)]="book.Language" required />
            </div>
            <div>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" [(ngModel)]="book.Description" required />
            </div>
            <div>
                <label for="cost">Cost:</label>
                <input type="text" id="cost" name="cost" [(ngModel)]="book.Cost" required />
            </div>
            <div>
                <label for="availablequantity">AvailableQuantity:</label>
                <input type="text" id="availablequantity" name="availablequantity" [(ngModel)]="book.AvailableQuantity"
                    required />
            </div>
            <div>
                <label for="totalquantity">TotalQuantity:</label>
                <input type="text" id="totalquantity" name="totalquantity" [(ngModel)]="book.TotalQuantity" required />
            </div>


            <div>
                <label for="genreid">GenreId:</label>
                <input type="text" id="genreid" name="genreid" [(ngModel)]="book.GenreId" required />
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>


    <!-- //UpdateBookForm -->
    <!-- //Correct Code is working -->
    
    <div *ngIf="displayUpdateBookForm == true" class="updatebook-form">
        <form #updatebookForm="ngForm" (ngSubmit)="onBookUpdate(updatebookForm)">
            <div>
                <label for="bookid">BookId:</label>
                <input type="text" id="bookid" name="bookid" [(ngModel)]="updatebook.BookId" required />
            </div>
            <div>
                <label for="availablequantitty">AvailableQuantity:</label>
                <input type="text" id="availablequantitty" name="availablequantitty"
                    [(ngModel)]="updatebook.AvailableQuantity" required />
            </div>
            <div>
                <label for="totalquantity">TotalQuantity:</label>
                <input type="text" id="totalquantity" name="totalquantity" [(ngModel)]="updatebook.TotalQuantity"
                    required />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- //Remove book -->
    <div *ngIf="displayRemovekForm == true" class="removebook-form">
        <form #removebookForm="ngForm" (ngSubmit)="onBookRemove(removebookForm)">
            <div>
                <label for="bookid">BookId:</label>
                <input type="text" id="bookid" name="bookid" [(ngModel)]="removebook.bookid" required />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>




</div>