<header class="navbar navbar-expand-lg navbar-dark bg-orange">
  <div class="container-fluid">
    <a class="navbar-brand text-black" routerLink="/" routerLinkActive="active">BookHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 d-flex">
        <li class="nav-item">
          <a class="nav-link active text-black" aria-current="page" routerLink="/app-home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-black" aria-current="page" routerLink="/app-explore-books" routerLinkActive="active">Explore</a>
        </li>
        <li *ngIf="displayRegistrationInHeader == true" class="nav-item">
          <a class="nav-link active text-black" aria-current="page" routerLink="/app-user-register-form" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-black" aria-current="page" routerLink="/app-contact-us" routerLinkActive="active">Contact Us</a>
        </li>
        <li *ngIf="displayUserInHeader == false" class="nav-item ms-auto">
          <a class="nav-link active text-black" aria-current="page" routerLink="/app-login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="displayUserInHeader == true" class="nav-item ms-auto dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{userToken["Email"]}}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="{{roleBasedDashboard}}" [queryParams]="{ displaySection: '0' }" routerLinkActive="active">Profile</a></li>
            <!-- <li><a class="dropdown-item" (click)="toggleNotifications()">Notifications</a>
              <div *ngIf="isNotificationDropdownOpen == true">
                <ul>
                    <li>asd</li>
                    <li>asdsdss</li>
                </ul>
            </div></li> -->
            <li><a class="dropdown-item" routerLink="{{roleBasedDashboard}}" [queryParams]="{ displaySection: '1' }" routerLinkActive="active">Settings</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>