<div class="contact-us-form">
    <h2>Contact Us cum Complaint cum Feedback Form</h2><br>

    <form [formGroup]="contactUsForm" (submit)="onSubmit()">
        <label for="emailAddress">Enter your Email:</label>
        <input type="text" formControlName="emailAddress"><br>

        <label for="queryType">Select query type:</label>
        <select formControlName="queryType">
            <option value="0">Complaint</option>
            <option value="1">Feeback</option>
            <option value="2">Suggestion</option>
        </select><br>

        <label for="queryDescription">Enter your thougths:</label>
        <textarea formControlName="queryDescription"></textarea><br><br>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form><br><br>

    Contact us at:<br>Email: bookhub&#64;fakeemail.com<br>Phone: +91 9999999999
</div>