<div class="registration-form" *ngIf="displayOTPForm == false">
  <h2>User Registration</h2>
  <form [formGroup]="registrationForm" (submit)="onSubmit()">
    <label for="name">Name (required):</label>
    <input type="text" formControlName="name"><br>

    <label for="name">Email (required):</label>
    <input type="text" formControlName="email"><br>

    <label for="phone">Phone Number (required):</label>
    <input type="text" formControlName="phone"><br>

    <label for="address">Address (required):</label>
    <input type="text" formControlName="address"><br>

    <label for="password">Create Password (required)(8 to 20 characters only):</label>
    <input type="password" formControlName="password"><br>

    <label for="confirmPassword">Confirm Password (required)(8 to 20 characters only):</label>
    <input type="password" formControlName="confirmPassword"><br>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="otp-container" *ngIf="displayOTPForm == true">
  <form [formGroup]="otpValidationForm" (ngSubmit)="validateOTP()">
    <h2>OTP Validation</h2>
    <div class="form-group">
      <label>Enter One-Time-Password (OTP):</label>
      <input formControlName="otp" type="text">
    </div>
    <button type="submit">Verify</button>
  </form>
</div>