div>button {
  margin-right: 10px;
  padding: 1%;
  min-width: 10%;
}

.userAccountSettings:not(button) {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 12px;
  color: black;
  overflow-y: auto;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 12px;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h2 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 14px;
  margin-top: 20px;
}