<div class="container" style="text-align: center;"><br>
    <h4>Welcome {{userToken.Email}}</h4><br><br>

    <div *ngIf="displaySection == '0'">
        <button class="btn btn-primary" (click)="ApplyFilter('notifications')">Notifications</button>
        <button class="btn btn-primary" (click)="ApplyFilter('borrowings')">Borrowings</button>
        <button class="btn btn-primary" (click)="ApplyFilter('reservations')">Reservations</button>
        <button class="btn btn-primary" (click)="ApplyFilter('fines')">Fines</button>
        <button class="btn btn-primary" routerLink="/app-explore-books" routerLinkActive="active"
            style="background-color: green; border-color: green;">Explore More Books</button>
        <br><br>

        <!-- Notifications Table -->
        <div class="container" name="notificationList" id="notificationList" *ngIf="displayNotificationList == true"
            style="border: 1px green solid ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Notification ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Message Type</th>
                        <th scope="col">Message Description</th>
                        <th scope="col">Sent Date</th>
                    </tr>
                </thead>
                <tbody>
                    @for (noti of notificationList; track $index) {
                    <tr>
                        <td>{{noti.userId}}</td>
                        <td>{{noti.userId}}</td>
                        <td>{{Notification_Type[noti.messageType]}}</td>
                        <td>{{noti.messageDescription}}</td>
                        <td>{{noti.sentDate}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Borrowed Table -->
        <div class="container" name="borrowingList" id="borrowingList" *ngIf="displayBorrowingList"
            style="border: 1px green solid ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Borrow ID</th>
                        <th scope="col">Book ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Borrow Date</th>
                        <th scope="col">Return Deadline</th>
                        <th scope="col">Return Date</th>
                        <th scope="col">Borrow Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (borrowed of borrowingList; track $index) {
                    <tr>
                        <td>{{borrowed.borrowId}}</td>
                        <td>{{borrowed.bookId}}</td>
                        <td>{{borrowed.userId}}</td>
                        <td>{{borrowed.borrowDate}}</td>
                        <td>{{borrowed.returnDeadline}}</td>
                        <td>{{borrowed.returnDate}}</td>
                        <td>{{Borrow_Status[borrowed.borrowStatus]}}</td>
                        <td>
                            <button *ngIf="borrowed.borrowStatus == '0'" (click)="returnBook(borrowed.borrowId)"
                                class="btn btn-secondary">Return</button>
                        </td>
                        <td>
                            <button *ngIf="borrowed.borrowStatus == '0'" (click)="reportLostBook(borrowed.borrowId)"
                                class="btn btn-secondary">Report Lost</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- ReservationsTable -->
        <div class="container" name="reservationList" id="reservationList" *ngIf="displayReservationList"
            style="border: 1px green solid ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Reservation ID</th>
                        <th scope="col">Book ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Application Timestamp</th>
                        <th scope="col">Expected Availability Date</th>
                        <th scope="col">Reservation Expiry Date</th>
                        <th scope="col">Reservation Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (reserv of reservationList; track $index) {
                    <tr>
                        <td>{{reserv.reservationId}}</td>
                        <td>{{reserv.bookId}}</td>
                        <td>{{reserv.userId}}</td>
                        <td>{{reserv.applicationTimestamp}}</td>
                        <td>{{reserv.expectedAvailabilityDate}}</td>
                        <td>{{reserv.reservationExpiryDate}}</td>
                        <td>{{Reservation_Status[reserv.reservationStatus]}}</td>
                        <td>
                            <button *ngIf="reserv.reservationStatus == '0'"
                                (click)="cancelReservation(reserv.reservationId)" class="btn btn-secondary">Cancel
                                Reservation</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Fines table -->
        <div class="container" name="fineList" id="fineList" *ngIf="displayFineList" style="border: 1px green solid ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fine ID</th>
                        <th scope="col">Borrow ID</th>
                        <th scope="col">Fine Type</th>
                        <th scope="col">Fine Amount</th>
                        <th scope="col">Fine Paid Status</th>
                        <th scope="col">Paid Date</th>
                    </tr>
                </thead>
                <tbody>
                    @for (fines of fineList; track $index) {
                    <tr>
                        <td>{{fines.fineId}}</td>
                        <td>{{fines.borrowId}}</td>
                        <td>{{Fine_Type[fines.fineType]}}</td>
                        <td>{{fines.fineAmount}}</td>
                        <td>{{Fine_Paid_Status[fines.finePaidStatus]}}</td>
                        <td>{{fines.paidDate}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br>

    <div *ngIf="displaySection == '1'">
        <button (click)="ApplySettingsFilter('updateAccount')" class="btn btn-primary">Update Account Details</button>
        <button (click)="ApplySettingsFilter('resetPassword')" class="btn btn-primary">Reset Password</button>
        <button (click)="ApplySettingsFilter('deleteAccount')" class="btn btn-primary">Delete Account</button><br><br>

        <form [formGroup]="updateUserForm" *ngIf="displayUpdateAccountForm ==  true" (ngSubmit)="updateUser()" class="userAccountSettings">
            <h2>Update Account Details</h2><br>
            <label for="name">Enter your Name:</label>
            <input type="text" formControlName="name"><br><br>

            <label for="phone">Enter Phone Number:</label>
            <input type="text" formControlName="phone"><br><br>

            <label for="address">Enter Address:</label>
            <input type="text" formControlName="address"><br><br>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <form [formGroup]="updatePasswordForm" *ngIf="displayUpdatePasswordForm ==  true" (ngSubmit)="resetUserPassword()" class="userAccountSettings">
            <h2>Reset Password</h2><br>
            <label for="oldPassword">Enter old Password:</label>
            <input type="password" formControlName="oldPassword"><br><br>

            <label for="newPassword">Enter new Password:</label>
            <input type="password" formControlName="newPassword"><br><br>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <form *ngIf="displayDeleteAccountForm ==  true" (ngSubmit)="deleteUser()"  class="userAccountSettings">
            <h2>Delete Account</h2><br>
            <input type="text" name="userId" id="userId" hidden>
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
        <div class="otpValidationFormStyles" *ngIf="displayOTPForm == true">
            <form [formGroup]="otpValidationForm" (ngSubmit)="validateDeleteOTP()">
              <h2>OTP Validation</h2>
              <div class="form-group">
                <label>Enter One-Time-Password (OTP):</label>
                <input formControlName="otp" type="text" name="otp" id="otp">
              </div>
              <button type="submit" class="btn btn-primary">Verify</button>
            </form>
        </div>
    </div>
</div>