<div class="registration-form">
    <h2>Login</h2>
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
      
     
      <div>
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          [(ngModel)]="login.email"
          required
        />
      </div>
  
     
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="login.password"
          required
        />
      </div>

      
      
      <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
    </form>
</div>

